
body {
  padding-top: 60px;
}

/* tweet styles */
#tweets { margin: 0; padding: 0; }
#tweets p { margin: 14px;}
#tweets a:hover, #tweets a:active, #tweets a:focus, #tweets a { text-decoration: none; }
#tweets a:hover { text-decoration: underline; }
#tweets a img { border: 0; }
#tweets li { padding: 0; margin: 0; list-style: none; }
.tweet { clear: left; min-height: 48px; padding: 9px; line-height: 1.1; position: relative; }
#tweets li.searchterm { font-size: 22px; padding: 20px 0; }
.vcard { margin-top: 5px; float: left;}
.hentry { margin-left: 58px; }
.hentry .meta { font-size: 0.764em; margin: 3px 0 0; display: block; }
#tweets a { color: #00f; }
.hentry .meta, #tweets .meta a { color: #999; }

/* newsletter styles */
#newsletter {
    background-color: #F5F5F5;
    border-radius: 1.4%;
}