<div class="tweet" id="channeldata_list_row_<%=id%>">
    <!--<div><%=id%></div>-->
    <div class="vcard">
        <a href="http://twitter.com/<%=fromUser%>" class="url">
            <img style="height: 48px; width: 48px;"
                 alt="<%=fromUser%>"
                 class="photo fn" height="48"
                 src="<%=profileImageUrl%>"
                 width="48">
        </a>
    </div>
    <div class="hentry">
        <strong>
            <a href="http://twitter.com/<%=fromUser%>" title="<%=fromUser%>"><%=fromUser%></a>
        </strong>
        <span class="entry-content"><%=text%>
        </span>
        <span class="meta entry-meta">
            <button class="btn btn-mini" id="<%=id%>_add">
                <i class="icon-ok-sign"></i>
                add
            </button>
            <button class="btn btn-mini" id="<%=id%>_delete">
                <i class="icon-remove"></i>
                ignore
            </button>
            <span>from
            <%=source%>
            </span>
        </span>
    </div>
</div>
